<div id="create" class="toolbar-control">
	<%= link_to_remote_redbox image_tag('gear.png', :height => 24, :width => 24, :title => "New #{controller.controller_name.singularize.capitalize}"), 
		:url => { :action => 'new_remote' },
		:html => { :class => 'lightbox' }
	-%>
</div>