<div id="top_menu">
	<%= link_to "WTF?", :controller => 'home' %>
	&nbsp;&middot;&nbsp;
	<%= link_to "Knock yourself a pro slick", :controller => 'retorts' %>
	&nbsp;&middot;&nbsp;
	<%= link_to "Visit the Keymaster of Gozer", :controller => 'tags' %>
</div>