body{ color: white; }
#ft{ float:left; position:relative; bottom:0; }
.heading{ font-size:400%; font-weight:bold; }
div.pop{ color:#01B0F0;}

a:link{
  color:#01b0f0;
  text-decoration:none;
}
a:visited{
  color:#01b0f0;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
/*  color:#ff358B;*/
}

#toolbar{ 
  display:block;
  padding-bottom:20px;
  margin-bottom:21px;
  width:70%;
  margin:auto auto 29px auto;
}

#toolbar_main{
}

#toolbar_extras{
  position:relative;
  top:23px;
}

.paging_control {
  padding:0;
  margin:0 auto;
  background-color:inherit;
  height:10px;
  border:0;
}

.paging_control a{
  color:#01b0f0;
}

.paging_control span.current{
  background: transparent no-repeat 50% 50%; 
}

.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

div.pop .form{
  border:1px solid blue;
  margin-right:1em;
  margin-left:1em;
}