#toolbar_extras{
  position:relative;
  top:23px;
}
/*
.paging_control {
  padding:0;
  margin:0 auto;
  background-color:inherit;
  height:10px;
  border:0;
}

.paging_control a{
  color:#01b0f0;
}

.paging_control span.current{
  background: transparent no-repeat 50% 50%; 
}
*/

.center{
  text-align:center !important;
  margin-left:auto !important;
  margin-right:auto !important;
}

div.pop .form{
/*  border:1px solid blue;*/
  margin-right:1em;
  margin-left:1em;
}



#RB_window {
  top:15em;
}

#retort_form {
  height:10em;
  /*width:60%;*/
  /*margin-right:auto;
    margin-left:auto;*/
}

#retort_form .first{
  text-align:left;
}

/*
#top_menu{
  width:70%;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#tag_cloud{
  padding-top:1em;
  width:70%;
  margin-right:auto;
  margin-left:auto;
}

#tag_cloud a:hover{
  text-decoration:underline;
}

#ft{
  width:100%;
  padding-top:2em;
  font-size:x-small;
  text-align:center;
}

#ft div{
  margin-right:auto;
  margin-left:auto;
  width:70%;
}

.compact {  
  font-size: 13px !important;
  line-height: 18px !important;
}
*/
