<div class="yui-g">
	<% curvy_corners "retorts" %>
		<ul>
		<% if @retorts and @retorts.size > 0 %>	
		<% for retort in @retorts %>
			<%= render :partial => "retorts/li", :locals => { :r => retort }%>
		<% end %>
		<% else %>	
			<% ["My cousin Belo is a reeetard!", "WTF?", "C'mon now, squeal!  Squeal now!  SQWEEE!!!"].each do |c| %>
				<%= render :partial => "li", :locals => { :r => Retort.new(:content => c) } %>
			<% end %>
		<% end %>
		</ul>
	<% end %>
</div>
<%= render_tagcloud @tagcloud %>
