<%= render :partial => "common/curvy_corners", :locals => { :ids => ["pop"] } %>
<div class="yui-g">
	<div class="pop">
		<ul>
		<% if @retorts and @retorts.size > 0 %>	
		<% for retort in @retorts %>
			<%= render :partial => "retorts/li", :locals => { :r => retort }%>
		<% end %>
		<% else %>	
			<% ["My cousin Belo is a reeetard!", "WTF?", "C'mon now, squeal!  Squeal now!  SQWEEE!!!"].each do |c| %>
				<%= render :partial => "li", :locals => { :r => Retort.new(:content => c) } %>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
<div class="yui-g cloud">
	<% for tag in @tagcloud %>
		<%= link_to tag.value.camelize, tag, {:class => "t#{tag.tier}"} %>
	<% end %>
</div>
