<div class="yui-g">
	<%= render_toolbar %>
	<% curvy_corners do %>
		<ul>
		<% if @retorts %>
			<% @retorts.each do |retort| %>
				<%= render :partial => "retorts/li", :locals => { :r => retort }%>
			<% end %>			
		<% end %>
		</ul>
	<% end %>
</div>
