<%= render :partial => "common/curvy_corners", :locals => { :ids => ["pop"] } %>
<div class="yui-g">
	<div class="pop">
		<ul>
		<% if @retorts %>	
			<% @retorts.each do |retort| %>
				<%= render :partial => "retorts/li", :locals => { :r => retort }%>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>